@page "/"
@using System.Linq
<PageTitle>Index</PageTitle>

<div class="content">
    <h1>Hello, world!</h1>

    <span >Welcome to your new app.</span>

    <SurveyPrompt Title="EEEEEEE" />

    <AuthorizeView>
        <NotAuthorized>
            <span>If you don't see this, you are not authorized buddy!</span>
        </NotAuthorized>
        <Authorized>
            <span>If you see this, you are authorized, good job!</span>
            <span>@foreach (var x in context.User.Identities)
                {
                    @x.Name            
                }
            </span>
        </Authorized>
    </AuthorizeView>
</div>